html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  font-family: 'Helvetica', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  color: #ffffff;
}

h1 {
  font-size: 200%;
}

.clear-sky-day {
  background: url(images/clear-sky-day.jpg) no-repeat center center fixed;
}

.clear-sky-night {
  background: url(images/clear-sky-night.jpg) no-repeat center center fixed;
}

.few-clouds-day {
  background: url(images/few-clouds-day.jpg) no-repeat center center fixed;
}

.few-clouds-night {
  background: url(images/few-clouds-night.jpg) no-repeat center center fixed;
}

.scattered-clouds {
  background: url(images/scattered-clouds.jpg) no-repeat center center fixed;
}

.broken-clouds-day {
  background: url(images/broken-clouds-day.jpg) no-repeat center center fixed;
}

.broken-clouds-night {
  background: url(images/broken-clouds-night.jpg) no-repeat center center fixed;
}

.rain {
  background: url(images/rain.jpg) no-repeat center center fixed;
}

.rain-night {
  background: url(images/rain-night.jpg) no-repeat center center fixed;
}

.thunderstorm {
  background: url(images/storm.jpg) no-repeat center center fixed;
}

.snow-day {
  background: url(images/snow-day.jpg) no-repeat center center fixed;
}

.snow-night {
  background: url(images/snow-night.jpg) no-repeat center center fixed;
}

.mist {
  background: url(images/mist.jpg) no-repeat center center fixed;
}

.clear-sky-day, .clear-sky-night, .few-clouds-day, .few-clouds-night, .scattered-clouds,
.broken-clouds-day, .broken-clouds-night, .rain, .rain-night, .thunderstorm, .snow-day,
.snow-night, .mist {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  font-size: 150%;
  display: flex;
  align-items: baseline;
}

span {
  align-self: center;
  margin-left: 9px;
}

button {
  align-self: center;
  margin-left: 12px;
  border: 5px solid black;
  min-width: 50px;
  min-height: 25px;
  font-size: 50%;
  font-weight: bold;
  background-color: #FFFF94;
  opacity: 0.5;
}

#degreeObj {
  margin-left: -1000px;
}

footer {
  margin-top: 75%;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: grey;
}

a:hover {
  color: black;
  background-color: white;
}
